{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to the Book Search</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if books is not empty %}
        <h2>Search Results:</h2>
        <ul>
            {% for book in books %}
                <li>{{ book.titre }} - {{ book.description }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
